<% include partials/header %>
<div class="ui segment">
<h3>Ways to Contact Us</h3>

<p><strong>Email</strong>: progamingtips@mail.com</p>
<p><strong>Twitch.tv</strong><a href="https://www.twitch.tv/th3_inquisitor" target="_blank"> Twitch Channel</a></p>
<p><strong>Discord</strong>: CockSmuggler#6419</p>
</div>
<% include partials/footer %>