<% include partials/header %>
<h3>Welcome to Landing page</h3>

    <div class="landingpre">
    <h4>Hello, i am Th3_Inquisitor</h4>
    <p>I have been gaming in the top <strong>1%</strong> of all the games i’ve played.</p>
    <pre>
I have played Path Of Exile for 5 years and i’ve learned how to make massive amounts of exalts through many different methods.
PoE is a knowledge based game so the more you know, the more you make.
    </pre>
    <pre>
I love coaching people and that’s how i got the idea for this website.
Here you will learn how to make exalts yourself and get you those chase items you want.
This site, with my coaching offers you easy tables, sheets and videos to refer to when crafting for easy learning.
    </pre>
    </div>
    <img src=https://i.imgur.com/K4Y6wzH.png class="landingimg">
<% include partials/footer %>