<% include ../partials/header %>
<h2>Corrupting items</h2>
<div class="ui segment">
    <h3>Introduction</h3>
    <p>Corrupting items can be very profitable when done right.</p>
    <p>Depending on the item level of the item you have a certain % chance to hit the corruption you want.</p>
    <p>All items have their own optimal corruption ilvl</p>
</div>
<div class="ui segment">
    <h3>Here is a list of the items i corrupt and the desired corruption</h3>
    <div class="ui ordered list">
        <div class="item"><strong>Unique Bows</strong> (<strong>Doomfletch</strong> / <strong>windripper</strong>)  - <strong>Additional arrow</strong> - <strong>Culling strike</strong></div>
        <div class="item"><strong>Amulets</strong> - <strong>Frenzy charge</strong> - <strong>Additional curse</strong></div>
        <div class="item"><strong>Quivers</strong> - <strong>Additional arrow</strong></div>
    </div>
</div>
<div class="ui segment">
    <h3>Example Doomfletch</h3>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Corruption</th>
          <th>ilvl</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>5% Chance to Cause Monsters to Flee</td>
          <td>Item level 1</td>
        </tr>
        <tr>
          <td>Adds (1 to 2)–(3 to 5) Chaos Damage</td>
          <td>Item level 1</td>
        </tr>
         <tr class="positive">
          <td>Culling Strike</td>
          <td>Item level 1</td>
        </tr>
         <tr class="positive">
          <td>Adds an additional Arrow</td>
          <td>Item level 1</td>
        </tr>
         <tr>
          <td>(5 to 10)% chance of Arrows Piercing</td>
          <td>Item level 1</td>
        </tr>
         <tr>
          <td>Gems in this item are supported by level 1 Fork</td>
          <td>Item level 6</td>
        </tr>
         <tr>
          <td>+1 Maximum Power Charge</td>
          <td>Item level 20</td>
        </tr>
        </tr>
         <tr>
          <td>Adds (6 to 8)–(11 to 13) Chaos Damage</td>
          <td>Item level 20</td>
        </tr>
        </tr>
         <tr>
          <td>Adds (8 to 11)–(19 to 23) Chaos Damage</td>
          <td>Item level 40</td>
        </tr>
        </tr>
         <tr>
          <td>0.2% of Lightning Damage Leeched as Life</td>
          <td>Item level 50</td>
        </tr>
        <tr>
          <td>0.2% of Cold Damage Leeched as Life</td>
          <td>Item level 50</td>
        </tr>
        <tr>
          <td>0.2% of Fire Damage Leeched as Life</td>
          <td>Item level 50</td>
        </tr>
      </tbody>
    </table>
 
        <p>Here we see that if we have an item level 39 or lower we will have only 8 options</p>
    <p>and doing so we remove 4 useless corruptions.</p>
    <p>improve our chances to hit the desired roll.</p>

 
        <p>We can see that if we had ilvl 19 or under we would have only 6 possible rolls</p>
        <p>but there aren’t generally any for sale so we stick with 39 or under.</p>

</div>
<div class="ui segment">
    <h3>Lastly</h3>
 
        <p>All the different items on the list have their own different optimal item levels</p>
        <p>refer to <a target="_blank" href="https://pathofexile.gamepedia.com/Vaal_Orb">Wikipedia VaalOrb</a> for them</p>

 
            <p>You want to gather from 20-100 items to corrupt before you start the process.</p>
        <p>Early league it is easy to get low level items and this is when you should start sniping them off the poe.trade.</p>
        <p>One thing to note is that if you happen to have a perfectly rolled item it will go for 50-100% more price.</p>
        <p>Sniping perfect items early league is recommended since even if you don’t end up corrupting them you will get your money back 20x</p>

 
            <p>When corrupting bows i don’t tend to 6 socket or color them before hand because this can be done afterwards with lvl 8 vorici.</p>
        <p>It will cost more but in the long run it will be cheaper.</p>


    
</div>
<% include ../partials/footer %>