<% include ../partials/header %>
<h2> Essence Crafting</h2>
    <div class="ui segment">
    <h3>Introduction</h3>
    
        <p>Essence crafting is my main method of crafting and main source of income.</p>
        <p>Essences get you exactly what you want fast and efficient.</p>
        <p>The problem of essence crafting is the availability of said essences.</p>
        <p>To help this situation you make use of most of the essences out there on the market.</p>
        
    </div>
    <div class="ui segment">
    
        <h3>Best Used Essences</h3>
        <p>Generally you only use 3 tiers of essences:</p>
        <div class="ui ordered list">
        <div class="item">Screaming : Most used essence tier. Great for profit making and the best essence to use early to mid league.</div>
        <div class="item">Shrieking: Tier that is used sometime mid league. Generally you obtain only a few of these.</div>
        <div class="item">Deafening: Tier that is used in endgame to make the most expensive items. High risk high reward.</div>
        </div>
    </div>    
    <div class="ui segment">
        <h3>Item levels of items you want to use</h3>
        
        <p><strong>You want your essence price and quality to match that of the base you are using to make the crafting optimal.</strong></p>
        <div class="ui ordered list">
            <div class="item">
                <strong>Screaming</strong>:
                <p>If the base is expensive (steel, opal, etc) use only item level 83 or under.If the base is very cheap (two stone, coral, unset) you can use il 84+</p>
            </div>
            <div class="item">
                <strong>Shrieaking</strong>:
                <p>Unless you got the essence super cheap you want to always use il84+</p>
            </div>
            <div class="item">
                <strong>Deafening</strong>:
                <p class="red"> <strong>Always</strong> ilvl 84-86 depending on the item.</p>
                    <p>Make sure your ilvl is high enough to be able to hit every single wanted T1 roll.</p>
            </div>
        </div>
    </div>
    <div class="ui segment">
        <h3>Essences And their use</h3>
        <table class="ui celled table">
          <thead>
            <tr>
              <th>Essence of contempt</th>
              <th>Essence of torment</th>
              <th>Essence of anger</th>
              <th>Essence of fear</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Steel rings</td>
              <td>Opal rings</td>
              <td>Opal rings</td>
              <td>Two-stone ring</td>
            </tr>
            <tr>
              <td>Onyx amulet</td>
              <td>Onyx amulet</td>
              <td>Onyx amulet</td>
              <td>Coral ring</td>
            </tr>
            <tr>
              <td>Agate amulet</td>
              <td>Agate amulet</td>
              <td>Agate amulet</td>
              <td>Unset ring</td>
            </tr>
            <tr>
              <td>Turquoise amulet</td>
              <td>Turquoise amulet</td>
              <td>Turquoise amulet</td>
              <td>Prismatic ring</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Marble amulet</td>
              <td></td>
            </tr>
          </tbody>
        </table>
    </div>
       <div class="ui segment">
           <h3>Enchanting when you have an open affix</h3>
           <strong>affix is either prefix or suffix.</strong>
           <p>Which just basically means an open mod for example maximum life or all resistance)</p>
        <p>If these terms seem hard to you just put your item to Elreon’s bench and see what you can put there.</p>
        <p>Then see what options you have available.</p>
       </div>
<% include ../partials/footer %>