<% include ../partials/header %>
<h2>Item Stats Guide</h2>

One of the most important things in the game is understanding rare item values. In order to understand the value of an item you need to know these things:

how high tier the base of the item is. For example assassin’s garb is tier 1 evasion chest. That means it usually has the highest flat evasion, str items have armor, intelligence items have energy shield. https://pathofexile.gamepedia.com/Body_Armour#Evasion_Body_Armours_.28Dexterity.29
What tier rolls does the item have / what item level is the item. If the item has multiple T1 rolls it generally is valuable. In order for an item to have a lot of tier 1 rolls it needs to be high item level. The lower item level of the item the lower tier rolls it will have.
Is it shaped / elder
What stats does the item have
How popular the builds using this item are. For example finding a rare 4x t1 wand when wanders where the most popular build.

The most wanted item stats:

Maximum life / energy shield. All good items have this.
Resistances
Added elemental / physical damage to attacks. (Does not work for spellcasters)
Elemental damage with attacks
Stats: Intelligence, strength and dextertity. Some builds need a lot of stats to support their off color gems. For example Ranger builds needing high intelligence to support Elemental focus gem.
Accuracy and crit multiplier

The order of the stats may change depending on the build at hand and of their other gear.. Defensive builds go for defensive stuff where as offensive builds go for damage stats.


Here is an example of an ideal ring for an offensive build, the build is doomfletch prism:

Steel ring:
Prefixes:
Maximum life
Physical damage to attacks
Elemental damage with attacks. (Hysteria essence mod is better which gives you 10% physical damage as extra fire damage, but these are used only by the 0.0001% of players)
Suffixes:
Accuracy
Intelligence / Strength
Critical multiplier / all resistance ( Obtainable only through essence)

<% include ../partials/footer %>
