<% include ../partials/header %>
<h3>Jewel Crafting cheats</h3>
    <div class="ui segment">
        <h4>item lvl (ilvl)</h4>
        <p>You want Item level 83 jewels most of the time because they are cheaper than 84 and they are only missing fire damage to weapons t1 rolls.</p>
        <p>If however you are going for an elemental jewel you want the 84 ilvl ones.</p>
    </div>
    <div class="ui segment">
       <h2>Crafting methods</h2>
        <div class="ui ordered list">
            <div class="item">
                <h3>Alteration orb + regal orb</h3>
                <p>you roll 2 T1 stats from the stat list with alterations and then hope to regal a 3rd t1 stat on.</p>
                <p>This is my recommended way for beginners.</p>
            </div>
            <div class="item">
                <h3>Alchemy orb + scour orb <strong class="red">Risky</strong></h3>
                <p>you slam alchemy orbs and see if you hit a nice jewel</p>
                <p>if you dont hit a good one you scour and just repeat the process.</p>
                <p>Good thing about this is that you can hit 4 stat jewels without using an exalt.</p>
            </div>
            <div class="item">
                <h3>Chaos spam <strong class="red">Risky</strong></h3>
                <p>You spam chaos on the jewel until you hit something.</p>
                <p> Good thing about this is that you can hit 4 stat jewels without using an exalt.</p>
            </div>
        </div>
        
    </div>
    <div class="ui segment">
         <h2>Important</h2>
         <p>When rolling the jewels you want optimally 2 T1 rolls and then a T3+ roll meaning the jewel can still be sellable and worth money even if it does not have 3x T1 rolls.</p>
         <p>Depending on your money situation you want 5-40 jewel bases before you start.</p>
         <p>Sniping good 3x T1 bases can be very profitable aswell instead of crafting it yourself.
         You need to have poe trade setup for these.
         You can snipe these jewel bases for exalt slamming which happens to be very profitable if there is an exalt price crash in a league.
         With exalt slamming you can make a 5-10 ex jewel into a 50-100 ex jewel.
         </p>

    </div>
    <div class="ui segment">
        <h2>Searching eye Jewel</h2>
        <h3>Physical bow builds:</h3>
        <table class="ui celled table">
        <h4>Things you need to have</h4>
      <thead>
        <tr>
          <th>Name</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>T1 physical damage to attacks</td>
          <td>iLvl 61: 4-5 to 7-8 (of Collision)</td>
        </tr>
        <tr>
          <td>T1 physical damage to bow attacks</td>
          <td>iLvl 83: 7-8 to 10-12 (Flaring)</td>
        </tr>
      </tbody>
    </table>
    <table class="ui celled table">
        <h4>Additional Rolls</h4>
      <thead>
        <tr>
          <th>Name</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>T1 maximum life !best</td>
          <td>iLvl 82: 46-50 (Stalwart)</td>
        </tr>
        <tr>
          <td>T1 attack speed</td>
          <td>iLvl 1: 3-5 (of Berserking)</td>
        </tr>
         <tr>
          <td>T1 crit multi</td>
          <td>iLvl 1: 9-12 (of Potency)</td>
        </tr>
         <tr>
          <td>T1 accuracy</td>
          <td>iLvl 78: 121-240 (of the Ranger)</td>
        </tr>
         <tr>
          <td>T1 Ele pen</td>
          <td>iLvl 1: 2 (of the Inquisitor)</td>
        </tr>
         <tr>
          <td>T1 phys as fire</td>
          <td>iLvl 40: 2-4 (of the Inferno)</td>
        </tr>
         <tr>
          <td>T1 attack speed w crit</td>
          <td> iLvl 25: 6-8 (of the Opportunity)</td>
        </tr>
      </tbody>
    </table>
    <h3>Elemental bow builds:</h3>
        <table class="ui celled table">
        <h4>Things you need to have</h4>
      <thead>
        <tr>
          <th>Name</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>T1 Fire / cold / lightning damage to attacks</td>
          <td>Go Go Google</td>
        </tr>
        <tr>
          <td>T1 Fire / cold / lightning damage to bow attacks(1. lightning 2.fire 3. cold)</td>
          <td>Go Go Google</td>
        </tr>
      </tbody>
    </table>
    <table class="ui celled table">
        <h4>Additional Rolls</h4>
      <thead>
        <tr>
          <th>Name</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>T1 maximum life !best</td>
          <td>iLvl 82: 46-50 (Stalwart)</td>
        </tr>
        <tr>
          <td>T1 attack speed</td>
          <td>iLvl 1: 3-5 (of Berserking)</td>
        </tr>
         <tr>
          <td>T1 crit multi</td>
          <td>iLvl 1: 9-12 (of Potency)</td>
        </tr>
         <tr>
          <td>T1 accuracy</td>
          <td>iLvl 78: 121-240 (of the Ranger)</td>
        </tr>
         <tr>
          <td>T1 Ele pen</td>
          <td>iLvl 1: 2 (of the Inquisitor)</td>
        </tr>
         <tr>
          <td>T1 attack speed w crit</td>
          <td> iLvl 25: 6-8 (of the Opportunity)</td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="ui segment">
        <h2>Finally</h2>
        <p>Same tables can be used for all the other abyssal jewels for wands, claws and so on.<br>
        If you are going for physical jewels use il83, if you are going for elemental jewels use il84.
        </p>
        <h2>Special jewels</h2>
        <p>A combination of these rolls usually sell for 4ex +</p>
        <div class="ui ordered list">
            <div class="item">
                T1 life: iLvl 82: 46-50 (Stalwart)
            </div>
            <div class="item">
                T1 mana:iLvl 83: 46-50 (Sapphire)
            </div>
            <div class="item">
                T1 energy shield: iLvl 83: 46-50 (Resplendent)
            </div>
            <div class="item">
                (⅔) rolls <br>
                +<br>
                T1 resistance rolls
            </div>
        </div>
    </div>

<% include ../partials/footer %>